:root {
    --color--principal: #fa573a;

    --color--secundario: #21242e;

    --ancho: 100px;

    --fuenteprincipal: "Montserrat", sans-serif;

    --fuentesecundaria: "Handlee", cursive;

    --anchomaximo: 75em;
}

main section#menu {
    background-color: var(--color--secundario);
    overflow: auto;
}

main #menu div h2 {
    color: white;
}

main div.container-fluid.row {
    width: 75%;
    margin: 0 auto;
}

main section#menu div.row article {
    border: none;
}


aside article nav ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}

aside article nav ul li {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 0.2em;
}

aside article nav ul .activado {
    border-radius: 0.2em;
    background-color: var(--color--principal);
}

aside article nav ul li a {
    text-decoration: none;
    color: white;
    font-family: var(--fuenteprincipal);
}

aside article nav ul li:hover {
    background-color: var(--color--principal);
    border-radius: 0.2em;
}

/*  */



div aside article:nth-child(2) {
    color: white;
    line-height: 1.2em;
    font-size: 0.9em;
}

div aside article:nth-child(2) hr {
    width: 4em;
    margin: 1em 0em;
    border-color: var(--color--principal);
}

div.col-dchr article {
    color: white;
}

div.col-dchr article span {
    color: var(--color--principal);
    font-weight: 200;
    margin-left: 0.4em;
    font-size: 1.2em;
}

.scroll {
    position: sticky;
    top: 0;
    left: 90%;

    /* position: sticky;
    bottom: 0px;
    right: 0px;
    padding: 0.6em;

    border-radius: 0.2em;
    background-color: var(--color--principal); */
}

.scroll i {
    color: white;
    border-radius: 0.2em;
    padding: 0.6em;

    background-color: var(--color--principal);
}


@media (min-width: 48em) {

    main div.container-fluid {
        width: 90%;
        margin: 0 auto;
    }

    .col-izq {
        width: 25%;
    }

    .col-dchr {
        width: 75%;
    }

    section#menu div.row div.col-dchr article {
        width: 100%;
        min-width: 300px;
        display: flex;
        margin-bottom: 0em;
    }

    section#menu div.row div.col-dchr article h3 {
        margin: 0;
        font-size: 0.9em;
    }

    section#menu div.row div.col-dchr article p {
        margin: 0.4em 0em;
        line-height: 1.2em;
    }

    section#menu div.row div.col-dchr article a.enlace {
        margin: 0;
    }

    div.col-dchr article span {
        margin-left: 0.3em;



    }

    section#menu div.row div.col-dchr article img {
        width: 30%;
        height: 30%;
    }

    section#menu div.row div.col-dchr article div {
        width: 70%;
        padding-left: 1em;
        vertical-align: middle;

    }


    main section#menu div.row article {
        width: 100%;
        margin-bottom: 0;

    }

    .scroll {
        position: sticky;
        top: 0;
        left: 94%;

        /* position: sticky;
        bottom: 0px;
        right: 0px;
        padding: 0.6em;
    
        border-radius: 0.2em;
        background-color: var(--color--principal); */
    }
}



@media (min-width: 62.75em) {

    main div.container-fluid {
        width: 80%;
        margin: 0 auto;
    }

    .col-izq {
        width: 30%;
    }

    .col-dchr {
        width: 65%;
        margin-left: 2em;
    }

    .scroll {
        position: sticky;
        top: 0;
        left: 97%;

        /* position: sticky;
        bottom: 0px;
        right: 0px;
        padding: 0.6em;
    
        border-radius: 0.2em;
        background-color: var(--color--principal); */
    }



}